h1 {
    color: #560F20;
    font-style: italic;
    font-weight: 1000;
    font-size: 1000;
    padding: 30px;
    margin: 10px, 30px, 10px, 30px;
    border: 7px, solid rgb(211, 136, 136);
    text-align: center;
}

h2 {
    color: #560F20;
    font-weight: 400px;
    font-style: italic;
    margin-right: 100px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-color:#d5938d;  */
     width: 50%;
    margin: 20px auto;
}

.practicando {
    color: brown;
    font-style: oblique;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

/* .card {
    background-color: rgb(22, 17, 17);
    color: red;
    display: flex;
    width: 100px;
    height: 100px;
    text-align: center;
} */

ul {
    font-family: Arial, Helvetica, sans-serif;

}
header{
    margin-top: 30px;
}
